*.vdf
*/__pycache__/*
*.mdl
*.xslx
*.2mdl

*.3vm

*.xlsx

assingment_3/.ipynb_checkpoints/Objects_File-checkpoint.ipynb

assignment_2/~$Foreign_Fighters.xlsx

assingment_3/pysdParsingJPH/

assingment_3/Parsing.ipynb

assignment_4/.ipynb_checkpoints/Untitled-checkpoint.ipynb

assignment_4/.ipynb_checkpoints/Vensim parser-checkpoint.ipynb

assignment_3/.ipynb_checkpoints/Parsing-checkpoint.ipynb

assignment_3/.ipynb_checkpoints/Parsing-checkpoint.ipynb

assignment_4/Vensim parser.ipynb

assignment_3/Parsing.ipynb

assignment_4/Vensim parser.ipynb

assignment_3/Parsing.ipynb

assignment_3/ASD_V2.py

assignment_3/.ipynb_checkpoints/Objects_File-checkpoint.ipynb

assignment_3/.ipynb_checkpoints/Objects_File-checkpoint.ipynb

assignment_2/.ipynb_checkpoints/ModelRunner-checkpoint.ipynb

assignment_3/.ipynb_checkpoints/Objects_File-checkpoint.ipynb

assignment_2/Spatial Radicalization.ipynb

assignment_2/.ipynb_checkpoints/Spatial Radicalization-Copy1-checkpoint.ipynb

assignment_2/ASD_V2.py

assignment_2/ModelRunner.ipynb

assignment_3/.ipynb_checkpoints/Objects_File-checkpoint.ipynb

assignment_3/ASD_V2.py

assignment_3/Objects_File.ipynb

assignment_3/Parsing.ipynb

assignment_4/Vensim parser.ipynb

assignment_3/Objects_File.ipynb

assignment_3/.ipynb_checkpoints/Objects_File-checkpoint.ipynb

assignment_4/Vensim parser.ipynb

assignment_5/ASD_V2.py

assignment_5/.ipynb_checkpoints/ModelRunner-checkpoint.ipynb
