svg {
	background-color:rgb(255,255,255);
}

.background {
	fill:rgb(240, 240, 240);
}

#partial {
	fill:rgb(230,230,230);	
}

.inflow {
	fill:rgb(0,160,0);
}

.outflow {
	fill:rgb(230,0,0);
}

.box {
	fill:rgba(0,0,0,0);
	stroke:rgb(0,0,0);
	stroke-width:1;
}

.unit {
	fill:rgb(0,128,255);
}